@font-face {
    font-family: "iconfont";
    src: url('../iconfont/iconfont.eot');
    /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiayonghu:before {
    content: "\e606";
}

.icon-renzheng:before {
    content: "\e603";
}

.icon-peizhi:before {
    content: "\e608";
}

.icon-guanliyuan:before {
    content: "\e607";
}

.icon-tuwen:before {
    content: "\e612";
}

.icon-jixieshebeijizhaomingb:before {
    content: "\e615";
}

.icon-xiaoshouguanli01:before {
    content: "\e600";
}

.icon-tianjia:before {
    content: "\e609";
}

.icon-yishouchanpin:before {
    content: "\e610";
}

.icon-shenhechenggong:before {
    content: "\e601";
}

.icon-03jixieqiugou:before {
    content: "\e616";
}

.icon-01jixiegongying:before {
    content: "\e614";
}

.icon-model:before {
    content: "\e60a";
}

.icon-person:before {
    content: "\e611";
}

.icon-shenhe:before {
    content: "\e604";
}

.icon-daishenhe:before {
    content: "\e602";
}

.icon-weishimingrenzheng:before {
    content: "\e60c";
}

.icon-che:before {
    content: "\e60b";
}

.icon-jiangliguanli:before {
    content: "\e60d";
}

.icon-pinpai:before {
    content: "\e60e";
}

.icon-jiangli:before {
    content: "\e60f";
}

.icon-yonghuguanli:before {
    content: "\e605";
}

.icon-kongbaiwu:before {
    content: "\e613";
}

.notify {
    position: fixed;
    margin: 0 auto;
    top: 15px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    width: 180px;
    padding: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    background: #1F1F1F;
    z-index: 9999;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -moz-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px)
}

.notify-info {
    color: #FFFFFF;
    background: #68B5E9
}

.notify-warn {
    color: #FFFFFF;
    background: #F8AE1A
}

.notify-error {
    color: #FFFFFF;
    background: #CF4965
}

.notify-success {
    color: #FFFFFF;
    background: #5CB811
}

.notify-animate,
.notify-js-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}


/*@media only screen and (min-width:641px) {
    .bb-year-select {
        width: 88px;
    }
    .bb-month-select {
        width: 66px;
    }
}*/

.bb-select li {
    padding: 0 5px;
}

.bb-select li select {
    min-width: 95px;
}

.bb-table-main {
    font-size: 1.4rem;
}

.bb-table-disabled {
    background: rgb(247, 247, 247);
    color: rgb(82, 82, 82);
    text-align: right;
}

.bb-nodata {
    margin: 50px auto;
    width: 133px;
    height: 125px;
    background: url(../img/nodata.png) center center no-repeat;
}


/*.bb-geo-container select {
    display: inline-block;
    min-width: 127px;
}*/

.toggle-off {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-off:hover {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-on {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-on:hover {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-on {
    display: inline-block;
    width: 36px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/toggle.png);
    background-position: 0 -20px;
}

.toggle-on:hover {
    background-position: -36px -20px;
}

.toggle-off {
    display: inline-block;
    width: 36px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/toggle.png);
    background-position: 0 0;
}

.toggle-off:hover {
    background-position: -36px 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bb-form-row {
    margin: 10px 0;
    overflow: hidden;
}

.bb-form-row .bb-form-item {
    float: left;
    margin-right: 30px;
}

.bb-form-row .bb-form-item>label {
    float: left;
    font-weight: 400;
    margin-top: 7px;
}

.bb-form-row .bb-form-item>input {
    float: left;
    width: 160px
}

.bb-form-row .bb-form-item>.bb-input-group {
    float: left;
    width: 160px
}
.am-table>tbody>tr>td{
    padding: 2.1rem .7rem;
}
