@font-face {
    font-family: "iconfont";
    src: url('../iconfont/iconfont.eot');
    /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-unie677:before {
    content: "\e600";
}

.icon-chongzhi:before {
    content: "\e603";
}

.icon-xiaofei:before {
    content: "\e604";
}

.notify {
    position: fixed;
    margin: 0 auto;
    top: 15px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    width: 180px;
    padding: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    background: #1F1F1F;
    z-index: 9999;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -moz-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px)
}

.notify-info {
    color: #FFFFFF;
    background: #68B5E9
}

.notify-warn {
    color: #FFFFFF;
    background: #F8AE1A
}

.notify-error {
    color: #FFFFFF;
    background: #CF4965
}

.notify-success {
    color: #FFFFFF;
    background: #5CB811
}

.notify-animate,
.notify-js-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.toggle-off {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-off:hover {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-on {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-on:hover {
    background: url(../img/toggle.png) no-repeat;
}

.toggle-on {
    display: inline-block;
    width: 36px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/toggle.png);
    background-position: 0 -20px;
}

.toggle-on:hover {
    background-position: -36px -20px;
}

.toggle-off {
    display: inline-block;
    width: 36px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/toggle.png);
    background-position: 0 0;
}

.toggle-off:hover {
    background-position: -36px 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.am-table>tbody>tr>td {
    padding: 2.1rem .7rem;
}

.e-select-sm {
    padding: .6rem 1.5rem .6rem .6rem !important;
}

.e-tab {
    padding-left: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.e-tab li {
    float: left;
    text-decoration: none;
    list-style-type: none;
}

.e-tab li a {
    padding: 7px 10px;
    color: #222;
    background-color: #eee;
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.e-tab li.active a {
    background-color: #0e90d2;
    color: #fff;
}

.uploadify {
    position: relative;
}

.uploadify object {
    left: 0;
}

.uploadify-button {
    background: #5eb95e;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.uploadify:hover .uploadify-button {
    background: #429842;
}

.image-uploadify-preview {
    display: none;
    position: relative;
    padding: 8px 0;
    font-size: 12px;
    color: #858585;
    text-align: left;
}

.ad-uploadcontainer li {
    padding: 0 10px;
}

.ad-uploadify {
    border: 1px solid #CCC;
    padding: 2px;
    background: #FFF;
}

.ad-uploadify .ad-uploadify-content {
    padding: 10px;
    color: #333；
}

.ad-uploadify .ad-uploadify-add {
    font-size: 40px;
    display: block;
    text-align: center;
    line-height: 150px;
    height: 150px;
    text-align: center;
}

.ad-uploadify .ad-uploadify-add {
    /*border: 1px solid;*/
}

.ad-uploadify img {
    width: 100%;
    height: 150px;
}

.e-step-3 li {
    float: left;
    width: 33.3%;
    height: 5px;
    position: relative;
    background: #CCC;
    text-decoration: none;
    list-style-type: none;
}

.e-step-3 li span {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: -14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    color: #999;
    background: #ccc;
}

.e-step-3 li.active span {
    background: #0c79b1;
    color: #fff;
}

.e-step-3 li.active {
    background: #0c79b1;
}
